 <div class="main">
   <div class="inputdiv">

    
    <label for="image">Image: </label>
    <input type="text" id="image"  [(ngModel)]="imagelink" ><br><br>

    
    <label for="name">Name: </label>
    <input type="text"  id="name" [(ngModel)]="namelink" ><br><br>

    <label for="Email">Email: </label>
    <input type="email"  id="Email"   [(ngModel)]="emaillink"><br><br>

    <label for="Pho" >Phone No: </label>
    <input type="tel" id="Pho" [(ngModel)]="phonelink"><br><br>

     <button (click)="submit()">SUBMIT</button>

     
  
   </div>

   <div class="output">
    <div class="outputtext">
        <h3>NAME  : {{name}} </h3>
        <p>EMAIL  : {{email}} </p>
        <p>PHONE NO  : {{phoneno}} </p>
    </div>
    <div class="output_image">
      <img [src]="url" alt="image" srcset="">

    </div>

   </div>
</div>